@font-face {
    font-family: Satoshi;
    src: url(./Satoshi-Variable.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Satoshi";
}
html, body{
    /* height: 100%; */
    width: 100%;
    overflow-x: hidden;
    /* scrollbar-width: none; */
}
.nav button{
    background: linear-gradient(to top, #a6252b, #ff2c36);
}
.buttons button:nth-child(1){
    background: linear-gradient(to top, #a6252b, #ff2c36);
}

.growthImage{
    width: 50vw;
    height: 100vh;
    /* background-color: #ff2c36; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 9vw;
    padding-tOP: 6vw;
}
.growthAbout span{
    color: #BD2930;
}
.growthAbout button{
    background: linear-gradient(to top, #a6252b, #ff2c36);
}
@media (max-width: 769px) {
    .nav{
        width: 100vw;
        /* background-color: blue; */
        padding: 20px 30px;
    }
    .nav img{
        height: 40px;
    }
    .nav ul{
        display: none;
    }
   .nav button{
        display: none;
    }
    .nav i{
        display: block;
    }
    .menu{
        width: 100%;
        height: 6vh;
        background-color: #fff;
        left: 0;
        padding: 10px 20px;
        background: linear-gradient(to top, #a6252b, #ff2c36);

    }
    .menu a{
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }
    .home{
        min-height: 100vh;
        flex-direction: column-reverse;
        
    }
    .left{
        padding-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .head h1{
        font-size: 7vw;
    }
    .text{
        width: 95vw;
        padding-left:50px;
        padding-right:20px;
        text-align: left;
    }
    .text p{
        line-height: 1.2;
    }
    .buttons{
        flex-direction: column;
        gap: 20px;
    }
    .right{
        width: 100vw;
        height: 50vh;
        /* background-color: #ff2c36; */
    }
    .home .right img{
        height: 40vh;
        /* margin-top: 10vh; */
    }
    .career{
        justify-content: center;
        /* background: #000; */
        border-radius: 1vw;
        margin-top: 0vh;
    }
    .container{
        border-radius: 10px;
    }
    .dets{
        display: flex;
        gap: 2px;
    }
    .growth{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .growthImage{
        text-align: center;
        padding-left: 16vw;
        /* background-color: #ff2c36; */
    }
}